<?xml version="1.0"?>
<config>
    <modules>
        <EdmondsCommerce_ContactCaptcha>
            <version>0.1.0</version>
        </EdmondsCommerce_ContactCaptcha>
    </modules>
    <default>
        <captcha>
            <frontend>
                <areas>
                    <contact_page_captcha>
                        <label>Contact Page</label>
                    </contact_page_captcha>
                </areas>
            </frontend>
        </captcha>
    </default>
    <global>
        <models>
            <edmondscommerce_contactcaptcha>
                <class>EdmondsCommerce_ContactCaptcha_Model</class>
            </edmondscommerce_contactcaptcha>
        </models>
        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <captcha>
                        <type>model</type>
                        <class>edmondscommerce_contactcaptcha/observer</class>
                        <method>checkContactPage</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_contacts_index_post>
        </events>
    </global>
    <default>
        <captcha>
            <frontend>
                <areas>
                    <contact_page_captcha>
                        <label>Contact Page</label>
                    </contact_page_captcha>
                </areas>
            </frontend>
        </captcha>
    </default>
    <global>
        <models>
            <contact_captcha>
                <class>Contact_Captcha_Model</class>
            </contact_captcha>
        </models>
        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <captcha>
                        <type>model</type>
                        <class>edmondscommerce_contactcaptcha/observer</class>
                        <method>checkContactPage</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_contacts_index_post>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <edmondscommerce_contactcaptcha>
                    <file>contact_captcha.xml</file>
                </edmondscommerce_contactcaptcha>
            </updates>
        </layout>
    </frontend>
</config>